.container{
display: flex;
margin-bottom: 45px;
}
.CountryDataView{
    background-image: radial-gradient(gray,rgb(226, 249, 236));
    min-width: 300px;
    min-height: 300px;
    margin-left: 10px;
    box-shadow: 1px 1px  5px black;
}
#WorldView{
    width: 60vw;
    height: 72vh;
    overflow: auto;
    flex: 2;
    margin: 5px;
 }
 .btn-primary{
    background-color: red;
    margin: 50px;
    font-size: 20px;
 }
.datafields{
    background-color: aliceblue;
    margin-top: 30%;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    box-shadow: 1px 1px 3px black;
    font-size: 1.6rem;
    vertical-align: center;

}
h2{
    background-color: whitesmoke;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}